html{
	background-color: #ffffff;
}
/*Body*/
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 360px;
	border: solid 5px black;
	background-color: #ffbf80;
	z-index: 0;
}


/*Header*/
header{
	width: 360px;
	border-bottom: solid 5px black;
	background-color: #ffffff;
}
header h1{
	margin: 0
}
label{
	height: 32px;
}
.dropdown {
	background-color: #ff9933;
	border-top: solid 5px black;
}
input[type=checkbox]{
	display: none;
}
input[type=checkbox]:checked ~ nav ul {
	display: flex;
	flex-direction: column;
	z-index: 1;

}

/*Navigation*/
nav{
	padding: 5px 0px;
}
nav ul{
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul li{
	width: 100%;
	padding: 0;
}
nav ul li a{
	padding-right: 9px;
	color: #331a00
}
nav ul li a:hover{
	color: #fff;
}

/*Footer*/
footer{
	height: 65px;
	width: 360px;
	background-color: #fff;
	border-top: solid 5px black;
}

